

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

th.hoursmins,td.hoursmins{
   text-align: right;
}

tr.entry .date{
   color: #bbb;
}

.nav-tabs {
   cursor: pointer;
}

.meter * {
	height: 2px;
	float: left;
}

.meter .fun{
	background-color: #008500;
}

.meter .work{
	background-color: #67e667;
}

.meter .chore{
	background-color: #ff4040;
}

@media(max-width:979px){
   ul.changetype{display: none;}
}

.label{
   border: 1px solid #ccc;
   color: #aaa;
   text-shadow: none;
   font-weight: normal;
   background-color: transparent;
   cursor: pointer;
}