<h3>{{activeProject.name}}</h3>
<div class="row">
    <ul class="nav nav-tabs projects">
        <li ng-repeat="project in projects" class="{{project | isactive:activeProject }}">
            <a ng-href="#/projects/{{project.sha}}">{{project.name}}</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="meter">
        <div ng-repeat="ty in categories" 
             class="{{ty.name | lowercase }}" 
             style="width:{{meter(ty.code)}}%">
         </div>
    </div>
    <table class="table table-hover">
        <col width="2%">
        <col width="5%">
        <col width="75%">
        <col>
        <thead>
            <tr>
                <th>#</th>
                <th class="hoursmins">Hours</th>
                <th>
                    Content
                    <span class="label" ng-show="filteredTag" ng-click="filterByTag('')">
                        for : {{filteredTag}}
                        <i class="icon-remove icon-red"></i>
                    </span>
                </th>
                <th class="no-print"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in entries" class="entry">
                <td>{{$index}}</td>
                <td class="hoursmins">
                    {{entry.billable | star:true}}&nbsp;{{entry.hours | hoursmins}}
                </td>
                <td class="content">
                    <a ng-href="#/projects/{{activeProject.sha}}/entries/{{entry.id}}">
                        {{entry.content}}<p ng-hide="entry.content.length">Untitled</p>
                    </a>
                    &nbsp;
                    <span ng-repeat="tag in entry.tags | filter:notEmpty ">
                        <span class="label" ng-click="filterByTag(tag)">{{tag}}</span>
                    </span>
                    <br>
                    <small class="date">{{entry.ended | prettydate}}</small>
                </td>
                <td class="pagination pagination-mini no-print">
                    <ul class="changetype">
                        <li ng-repeat="c in categories" class="{{c.code | isactive:entry.type }}">
                            <a href="" ng-click="changeType(entry, c)">{{c.name}}</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="info">
                <td></td>
                <td class="hoursmins">{{totalHours() | hoursmins }}</td>
                <td>
                    <strong>Total</strong>
                    <span class="label" ng-show="filteredTag" ng-click="filterByTag('')">
                        for : {{filteredTag}}
                        <i class="icon-remove icon-red"></i>
                    </span>
                </td>
                <td class="no-print" colspan="2"></td>
            </tr>
        </tbody>
    </table>
</div>